section
  h2 開催案内
  p 何かご不明な点がございましたら，お気軽に#[a(href="mailto:"+workshop.contact) 開催事務局]までお問い合わせください．
  table.table
    tbody
      tr
        th(scope="row") 日程
        td #{workshop.date}
      tr
        th(scope="row") 場所
        td
          a(href=workshop.location.url) #{workshop.location.text}
      tr
        th(scope="row") 交通
        td #{workshop.transport}
        
      // 「もし提供されていれば」で条件分岐する
      tr
        th(scope="row") 会場Wi-Fi
        td ESSID：#{workshop.wifi.essid}#[br]パスワード：#{workshop.wifi.password}
        
      tr
        th(scope="row") 懇親会費
        td 一般：#{workshop.fee.general}#[br]学生：#{workshop.fee.student}#[br]新入生：無料
